{{define "title"}}Home{{end}}

{{define "main"}}

  {{if .IsAuthenticated}}
    {{if .Habits}}
      <div class="h-full flex flex-col justify-center items-center mt-4">
        <table class="table-fixed w-2/4 border-separate border-spacing-3 text-white text-center">
          {{range .Habits}}
          <tbody>
            <tr class="flex justify-evenly">
              {{$id := .ID}}
              <td class="w-1/3">{{.Title}}</td>
              {{range $day := days}}
                {{$logInfo := hasLog $.HabitsLogs $id $day}}
                {{if and $logInfo.Exists $logInfo.IsCompleted}}
                  {{if isFutureDate $day}}
                    <td class="h-6 w-6 border border-2 border-white rounded-md">
                  {{else}}
                    <td class="h-6 w-6 border border-2 border-white bg-green-500 rounded-md" hx-post="/habit/log/{{$id}}/{{$day}}" hx-headers='{"X-CSRF-Token": "{{$.CSRFToken}}"}' hx-swap="outerHTML" hx-target="this"></td>
                  {{end}}
                {{else}}
                  {{if isFutureDate $day}}
                    <td class="h-6 w-6 border border-2 border-white rounded-md">
                  {{else}}
                    <td class="h-6 w-6 border border-2 border-white rounded-md" hx-post="/habit/log/{{$id}}/{{$day}}" hx-headers='{"X-CSRF-Token": "{{$.CSRFToken}}"}' hx-swap="outerHTML" hx-target="this"></td>
                  {{end}}
                {{end}}
              {{end}}
            </tr>
          </tbody>
          {{end}}
        </table>
      </div>
    {{else}}
      <div class="flex justify-center text-white">
        <p class="text-black">No habits yet! Go to <a href="/habit/create"> create habit </a> to get started!</p>
      </div>
    {{end}}
  {{else}}
      <div class="flex justify-center text-white">
        <p>Welcome to Habit! A lightweight and easy to use habit tracker!</p>
      </div>
  {{end}}
{{end}}

