{{define "nav"}}
<nav class="flex justify-evenly gap-x-8 p-4 m-6 text-white">
  <div class="flex justify-evenly gap-x-8">
    <a href="/">Home</a>
    <a href="/howTo">How to</a>
    {{if .IsAuthenticated}}
      <a href="/habit/create">Create Habit</a>
    {{end}}
  </div>
  <div class="flex justify-evenly gap-x-8">
    {{if .IsAuthenticated}}
      <form action="/user/logout" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <button>Logout</button>
      </form>
    {{else}}
      <a href="/user/signup">Signup</a>
      <a href="/user/login">Login</a>
    {{end}}
  </div>
</nav>
{{end}}

